@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
  height: 250px; /* Card ki height set karein */
  width: 100%; /* Card ki width set karein */
  background-size: cover; /* Background image ko cover karne ke liye */
  background-position: center; /* Center position */
  position: relative; /* Relative position for child elements */
}

/* globals.css */

.bg-custom {
  @apply bg-cover bg-center; /* Use Tailwind classes */
}

